@import "@fortawesome/fontawesome-free/css/all.min.css";
body {
  margin: 0px;
  padding: 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
}
.h1 {
  font-size: 20px;
  font-weight: 500;
}
b {
  font-weight: 500;
}
.home {
  .login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 20px;
    .app-logo {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      padding: 5px 5px 10px 5px;
      color: #b5763e;
      font-weight: 500;
      .logo {
        img {
          width: 80px;
          margin-bottom: 5px;
        }
      }
      .app {
        font-weight: bold;
      }
      border-bottom: 2px solid #e06c073d;
    }
    .error {
      display: flex;
      display: flex;
      flex-direction: column;
      animation: fadeIn 1.5s forwards;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 300px;
        }
      }
      .mes {
        font-size: 13px;
        color: rgb(160, 160, 160);
        padding: 20px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
    }
    .hint {
      color: #00326e;
    }
    .guide {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      font-size: 13px;
      color: #00326e;
      font-weight: 500;
    }
    .h1 {
      color: #0074ff;
    }
    .login-qr {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0px;
      .qr-code {
        border-radius: 10px;
        padding: 12px;
      }
    }
    .login-link {
      display: flex;
      gap: 5px;
      color: #0074ff;
      font-weight: 500;
      font-size: 13px;
      a {
        text-decoration: none;
      }
    }
  }
}
.display-none {
  display: none;
}
.homePage {
  display: flex;
}
.store-container {
  display: flex;
  width: 100%;
  gap: 8px;
  overflow: auto;
  .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: absolute;
    background-color: #e1e6e9;
    .top-container {
      display: flex;
      position: sticky;
      top: 0;
      background-color: #fff;
      box-shadow: 1px 2px 3px #0003;
      border-radius: 0px 0px 18px 18px;
      width: 100vw;
      flex-direction: column;
      animation: slideIntop 0.6s forwards;
      z-index: 10;
      box-sizing: border-box; /* tránh tràn ra ngoài */
      @media only screen and (min-width: 768px) {
        border-radius: 0px 10px 10px 10px;
      }
      .tools-bar {
        z-index: 11;
        right: 0;
        top: 60vh;
        background-color: #000000;
        border-radius: 8px;
        padding: 12px 8px;
        display: flex;
        box-shadow: 1px 2px 3px #0003;
        position: absolute;
        &.hide {
          padding: 12px 0px 12px 6px;
          .list-items {
            width: 0px;
          }
          .bar {
            padding: 3px 3px 3px 0px !important;
          }
        }
        &.tright {
          border-radius: 18px 0px 0px 18px;
          .bar {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px 6px 3px 0px;
            .this-bar {
              height: 26px;
              width: 6px;
              border-radius: 8px;
              background-color: #e8f2ff;
            }
          }
        }
        &.tleft {
          flex-direction: row-reverse;
          border-radius: 0px 18px 18px 0px;
          .bar {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px 3px 3px 6px;
            .this-bar {
              height: 26px;
              width: 6px;
              border-radius: 8px;
              background-color: #e8f2ff;
            }
          }
        }
        .list-items {
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 40px;
          transition: all 0.3s;
          overflow: hidden;
          .items {
            .icon {
              background-color: #0083fd;
              border-radius: 4px;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              height: 36px;
              color: #fff;
            }
          }
        }
      }
      .top-nav {
        display: flex;
        justify-content: space-between;
        align-items: center; /* Giúp căn giữa các phần tử con theo chiều dọc */
        box-sizing: border-box;
        width: -webkit-fill-available;
        padding: 0px 4px 4px 4px;
        overflow: hidden;
        .right-nav {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 2px 4px;
          gap: 4px;
          box-sizing: border-box;
          .options-nav {
            display: flex;
            padding: 0px 0px 5px 0px;
            justify-content: space-between;
            .options {
              display: flex;
              gap: 5px;
              .items {
                font-size: 9px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 4px;
                .icon {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 18px;
                  height: 18px;
                  color: #09a3fc;
                  background-color: #fafbff;
                  border-radius: 6px;
                  box-shadow: 1px 2px 3px #0003;
                }
              }
            }
          }
          .tools {
            display: flex;
            gap: 4px;
            .items {
              position: relative;
              .icon {
                border: 1px solid #eee;
                box-shadow: 1px 2px 3px #0003;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #0099ff;
                color: #fff;
                font-size: 13px;
                width: 30px;
                height: 30px;
              }
            }
          }
        }
        .left-nav {
          display: flex;
          gap: 5px;
          align-items: flex-end;
          padding: 4px 4px;
          padding-right: 15px;
          box-sizing: border-box;
          overflow: hidden;
          .name {
            display: flex;
            flex-direction: column;
            position: relative;
            width: -webkit-fill-available;
            overflow: hidden;
            .name-store {
              font-size: 14px;
              font-weight: 500;
            }
            .name-rate {
              color: #999;
              font-size: 12px;
            }
            .name-location {
              display: flex;
              align-items: center;
              font-size: 12px;
              gap: 5px;
              color: #999;
              i {
                display: inline-flex;
                font-size: 10px;
              }
              .address {
                display: block;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
          .logo {
            display: flex;
            min-width: 50px;
            width: 50px;
            height: 50px;
            border-radius: 8px;
            border: 2px solid #fff;
            box-shadow: 1px 2px 3px #0003;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .body-container {
      width: 100vw;
      display: flex;
      gap: 4px;
      overflow-x: hidden;
      flex-direction: column;
      animation: fadeIn 1.5s forwards;
      padding: 8px 0px;
      .res-menu {
        padding: 4px 8px;
        display: flex;
        flex-direction: column;
        .menu {
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 1px 2px 3px #0003;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          .items {
            display: flex;
            gap: 6px;
            &:not(:last-child) {
              border-bottom: 1px solid #b9b9b9;
            }
            .image {
              padding: 4px;
              align-items: center;
              display: flex;
              .icon {
                width: 60px;
                height: 60px;
                border-radius: 8px;
                background-color: #c8cfd8;
                overflow: hidden;
                img {
                  width: 100%;
                }
              }
            }
            .config {
              display: flex;
              margin-left: auto;
              padding: 0px 8px;
              color: #87b3d8;
              align-items: center;
              background-color: #ebedf0;
            }
            .options {
              padding: 4px;
              display: flex;
              flex-direction: column;
              gap: 2px;
              width: -webkit-fill-available;
              .name {
                font-weight: 500;
                font-size: 15px;
              }
              .price {
                color: orangered;
                font-size: 14px;
              }
              .status {
                display: flex;
                gap: 4px;
                select {
                  padding: 4px 6px;
                  font-size: 13px;
                  border: 1px solid #c2c2c2;
                  border-radius: 6px;
                  background-color: #fff;
                }
              }
            }
          }
        }
      }
      .th3 {
        padding: 3px 8px;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        white-space: nowrap;
        color: #999;
        align-items: center;
        &::after {
          display: flex;
          flex: 1;
          content: "";
          height: 7px;
          margin-left: 10px;
          border-bottom: 1px solid #999;
        }
      }
      .db-box {
        padding: 8px 8px 4px 8px;
        .action-tab {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          overflow: hidden;
          gap: 8px;
          .items {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border-radius: 8px;
            padding: 6px;
            .icon {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 6px;
              color: #999;
              font-size: 20px;
              font-weight: 500;
              height: 32px;
              padding: 2px 0px 10px 0px;
            }
            .name {
              font-size: 14px;
              color: #949494;
            }
          }
        }
      }
      .dashboard {
        display: flex;
        justify-content: space-between;
        gap: 6px; /* Khoảng cách giữa các phần tử */
        .card {
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          padding: 16px 12px 14px 12px;
          color: #333;
          scroll-snap-align: start; /* Để phần tử "khớp" khi cuộn đến */
          .box {
            display: flex;
            flex-direction: column;
            background: linear-gradient(
              45deg,
              #7cccff,
              #32adff,
              #0099ff
            ); /* Màu vàng */
            min-width: 86px; /* Chiều rộng tối thiểu của mỗi "cục" */
            height: 76px;
            border-radius: 12px;
            padding: 8px;
            box-shadow: 1px 2px 3px #0003;
            .name {
              display: flex;
              flex-direction: column;
              font-size: 13px;
              color: #344679;
              font-weight: 600;
              .icon {
                font-size: 15px;
                color: #fff;
                text-shadow: 1px 2px 3px #0003;
              }
              .val {
                color: #fff;
                text-shadow: 1px 2px 3px #0003;
              }
            }
            .value {
              font-size: 26px;
              color: #fff;
              font-weight: 600;
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0px 0px 10px 0px;
            }
          }
        }
      }
      .p-layout {
        padding: 2px 16px;
        .layout {
          display: flex;
          gap: 6px;
          flex-direction: column;
          .room {
            display: flex;
            flex-direction: column;
            gap: 4px;
            position: relative;
            padding: 8px 8px 26px 8px;
            background-color: #fff;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 1px 2px 3px #0003;
            .room-name {
              position: absolute;
              right: 0;
              bottom: 0;
              background-color: #0074ff;
              border-radius: 10px 0px 0px 0px;
              padding: 4px 12px;
              z-index: 1;
              box-shadow: -1px -2px 3px #0003;
              .name {
                font-size: 13px;
                font-weight: 500;
                color: #fff;
              }
            }
            .room-layout {
              display: grid;
              grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
              gap: 8px;
              .table {
                display: flex;
                border-radius: 6px;
                font-size: 13px;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;
                padding: 8px 12px;
                background-color: #eff1f3; // Tùy chọn, giúp mỗi table rõ ràng hơn
                flex: 1;
                .status {
                  position: absolute;
                  background-color: #bfc9cf;
                  border-radius: 0px 6px 0px 6px;
                  padding: 0px 4px 2px 4px;
                  font-size: 10px;
                  color: #fff;
                  right: -1px;
                  top: -1px;
                  box-shadow: -2px 2px 1px 0px #fff3;
                }
                .name {
                  font-size: 12px;
                  color: #999;
                  white-space: nowrap;
                }
                .icon {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 30px;
                  overflow: hidden;
                  border-radius: 5px;
                  padding-top: 6px;
                  img {
                    width: 90%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .right-hide {
    display: none;
    @media only screen and (min-width: 768px) {
      display: flex;
      width: 30vw;
      background-color: #fff;
      box-shadow: 2px 2px 3px #0003;
      border-radius: 10px 0px 0px 10px;
      animation: slideInFromRight 0.6s forwards;
    }
  }
}
.new_res {
  display: flex;
  flex-direction: column;
  background-color: #eaeaeb;
  width: 100%;
  height: 100%;
  position: absolute;
  gap: 8px;
  overflow: auto;
  align-items: center;
  .navigation {
    padding: 0px;
    display: flex;
    width: calc(100% - 30px);
    justify-content: space-between;
    animation: fadeIn 2s forwards;
    .navigation-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
      button {
        &.next {
          border: hidden;
          background-color: #09f;
          color: #fff;
        }
        &.back {
          border: hidden;
          color: #818181;
        }
      }
    }
  }
  .step-body {
    background-color: #fff;
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 1px 2px 3px #0003;
    animation: fadeIn 1.2s forwards;
    .mes {
      display: flex;
      align-items: center;
      font-size: 13px;
      justify-content: center;
      .error {
        color: rgb(158, 22, 22);
        font-weight: 500;
      }
    }
    .step-content {
      padding: 10px;
      display: flex;
      flex-direction: column;
      .step-form {
        position: relative;
        display: flex;
        flex-direction: column;
        transition: all 0.3s;
        .title {
          margin-bottom: 10px;
          text-align: center;
          font-size: 13px;
          padding: 8px;
          font-weight: 500;
          display: flex;
          gap: 5px;
          justify-content: center;
          align-items: center;
        }
        .hint {
          padding: 5px 0px;
          font-size: 13px;
          color: #999;
        }
        .form-data {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .preview {
            display: flex;
            flex-direction: column;
            border: 1px solid #eee;
            border-radius: 10px;
            margin-top: 10px;
            overflow: hidden;
            position: relative;
            .loading {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 14px;
              position: absolute;
              z-index: 10;
              width: 100%;
              height: 100%;
              background-color: #0005;
              .ok {
                .icon {
                  background-color: #0fd1c0;
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #fff;
                  animation: successAnimation 0.5s ease-out forwards;
                }
              }
              .loading-spinner {
                width: 30px;
                height: 30px;
                border-width: 6px;
                border-color: #00000030;
                border-left-color: #fff;
              }
              .mess {
                color: #fff;
                font-weight: 500;
                font-size: 13px;
              }
            }
            .res-head {
              display: flex;
              align-items: flex-end;
              gap: 10px;
              border-bottom: 1px solid #eee;
              padding: 8px;
              overflow: hidden;
              position: relative;
              .hotline {
                position: absolute;
                right: 0px;
                top: 0px;
                background-color: #3d94ff;
                font-size: 11px;
                gap: 5px;
                align-items: center;
                display: flex;
                color: #fff;
                padding: 4px 8px;
                font-weight: 500;
                border-radius: 0px 0px 0px 10px;
              }
              .logo {
                display: flex;
                min-width: 50px;
                height: 50px;
                overflow: hidden;
                border-radius: 12px;
                border: 2px solid #fff;
                box-shadow: 1px 2px 3px #0003;
                img {
                  width: 100%;
                }
              }
              .name {
                display: flex;
                flex: 1;
                flex-direction: column;
                overflow: hidden;
                .namet {
                  display: flex;
                  gap: 10px;
                  font-weight: 500;
                  position: relative;
                  font-size: 14px;
                  .loaihinh {
                    position: absolute;
                    left: calc(100% + 4px);
                    top: -5px;
                    white-space: nowrap;
                    font-size: 10px;
                    background-color: #0052bd;
                    border-radius: 4px;
                    padding: 2px 4px;
                    color: #fff;
                  }
                }
                .rate {
                  font-size: 11px;
                  color: #999;
                }
                .location {
                  display: flex;
                  font-weight: 400;
                  gap: 5px;
                  color: #0074ff;
                  font-size: 12px;
                  .value {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }
            }
            .body {
              display: flex;
              flex-direction: column;
              padding: 10px;
              .options {
                display: flex;
                gap: 8px;
                padding: 5px;
                justify-content: center;
                .items {
                  font-size: 13px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  gap: 4px;
                  .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    color: #09a3fc;
                    background-color: #fafbff;
                    border-radius: 6px;
                    box-shadow: 1px 2px 3px #0003;
                  }
                  .name {
                    color: #99a2b4;
                    font-size: 11px;
                  }
                }
              }
              .layout {
                .room {
                  gap: 0px;
                  .room-name {
                    .name {
                      font-size: 14px;
                    }
                  }
                  .room-layout {
                    border-radius: 0px 0px 10px 10px;
                    background-color: transparent;
                    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
                  }
                  .table {
                    position: relative;
                    .status {
                      position: absolute;
                      right: 0px;
                      background-color: #bfc9cf;
                      border-radius: 5px;
                      padding: 2px 4px;
                      font-size: 10px;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
          .config {
            .items {
              display: flex;
              align-items: center;
              justify-content: space-between;
              border-bottom: 1px solid #e0e0e0;
              padding: 0px 5px;
              .name {
                display: flex;
                flex: 1;
                font-size: 14px;
                padding: 15px 0px 16px 0px;
              }
              &:last-child {
                border-bottom: hidden;
              }
              .option {
                .checkboxInput {
                  display: none;
                }
                .toggleSwitch {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  position: relative;
                  width: 38px;
                  height: 20px;
                  background-color: #aaa;
                  border-radius: 20px;
                  cursor: pointer;
                  transition-duration: 0.2s;
                  user-select: none;
                  &::after {
                    content: "";
                    position: absolute;
                    height: 5px;
                    width: 5px;
                    left: 3px;
                    background-color: transparent;
                    border-radius: 50%;
                    transition-duration: 0.2s;
                    box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
                    border: 5px solid white;
                  }
                }
                .checkboxInput:checked + .toggleSwitch::after {
                  transform: translateX(
                    18px
                  ); /* Adjust to make it slide fully */
                  background-color: white;
                }

                .checkboxInput:checked + .toggleSwitch {
                  background-color: #0099ff;
                }
              }
            }
          }
          .layout {
            display: flex;
            flex-direction: column;
            .room {
              display: flex;
              flex-direction: column;
              gap: 4px;
              .room-name {
                display: flex;
                justify-content: space-between;
                padding: 4px 0px;
                .name {
                  font-size: 14px;
                  font-weight: 500;
                  color: #0766be;
                }
                .config {
                  select {
                    padding: 4px;
                    border: 1px solid #0003;
                    border-radius: 4px;
                    color: #999;
                    outline: none;
                  }
                }
              }
              .room-layout {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
                gap: 16px;
                background-color: #ebf2ff;
                border-top: 1px solid #0052bd;
                padding: 12px 6px;
                .table {
                  display: flex;
                  border-radius: 8px;
                  font-size: 13px;
                  align-items: center;
                  flex-direction: column;
                  gap: 4px;
                  .name {
                    color: #999;
                  }
                  .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    overflow: hidden;
                    background-color: #fff;
                    border-radius: 5px;
                    padding: 5px;
                    box-shadow: 1px 2px 3px #0003;
                    img {
                      width: 90%;
                    }
                  }
                }
              }
            }
          }
          .option-config {
            display: flex;
            justify-content: flex-end;
            select {
              border: 1px solid #aaa;
              outline: none;
              padding: 4px;
              border-radius: 4px;
            }
          }
          .avatar {
            display: flex;
            justify-content: center;
            label {
              background-color: #fff;
              border: 1px solid #fff;
              border-radius: 24px;
              width: 70px;
              height: 70px;
              overflow: hidden;
              box-shadow: 1px 2px 3px #0003;
              img {
                width: 100%;
                object-fit: contain;
              }
            }
          }
          .input {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border: 1px solid #69696965;
            border-radius: 8px;
            overflow: hidden;
            padding: 5px;
            .address {
              font-size: 13px;
              color: #999;
            }
            button {
              font-size: 13px;
              font-weight: 500;
            }
            select {
              padding: 6px;
              max-width: 150px;
              border: hidden;
              outline: none;
              background-color: transparent;
              &.full {
                max-width: unset;
                width: -webkit-fill-available;
              }
            }
            input {
              border: hidden;
              background-color: #fff;
              width: -webkit-fill-available;
              height: 30px;
              outline: none;
              &:disabled {
                border-bottom: hidden;
                color: #999;
              }
              &.name {
                text-align: center;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
  .step-progress {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    width: -webkit-fill-available;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: slideIntop 0.6s forwards;
    &::before {
      content: "";
      position: absolute;
      top: 39%;
      left: 10%;
      right: 10%;
      height: 2px;
      background-color: #ddd;
      z-index: 0;
    }
    .step {
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      &::before {
        content: "";
        position: absolute;
        top: 30%;
        width: 0%;
        z-index: -1;
        height: 2px;
        transition: all 0.3s;
      }
      .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: #ffffff;
        color: #a6a6a6;
        font-size: 14px;
        margin-bottom: 5px;
        box-shadow: 1px 2px 3px;
        border: 2px solid #fff;
      }
      .label {
        font-size: 12px;
        color: #aaa;
      }
      &.completed,
      &.active {
        .label {
          color: #d4a373;
        }
        &.active {
          .circle {
            background-color: #fff;
            color: #d4a373;
            border: 2px solid #d4a373;
          }
          &::before {
            content: "";
            left: 50%;
            position: absolute;
            height: 2px;
            background-color: #d4a373;
            z-index: -1;
            width: 0%;
            transition: all 0.3s;
          }
        }
        &.completed {
          .circle {
            background-color: #d4a373;
            color: #fff;
            box-shadow: 1px 2px 3px #aaa;
            border: 2px solid #d4a373;
          }
          &::before {
            content: "";
            position: absolute;
            left: 50%;
            height: 2px;
            background-color: #d4a373;
            z-index: -1;
            width: 100%;
            transition: all 0.3s;
          }
        }
      }
    }
  }
}
.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Màu nền của spinner */
  border-left-color: #09f; /* Màu quay */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}
.full-load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &.fadeOut {
    animation: fadeOut 1s forwards;
  }
  .loading-spinner {
    border-left-color: #fff; /* Màu quay */
  }
  .logo {
    position: absolute;
    width: 50px;
    overflow: hidden;
    animation: fadeInOut 3s linear infinite;
    img {
      width: 100%;
    }
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    opacity: 0.5;
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideIntop {
  from {
    opacity: 0.5;
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    transform: translateY(150px);
    opacity: 0;
  }
}
.bg-full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  .detectOut {
    background-color: #0005;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    animation: fadeIn 0.5s forwards;
    backdrop-filter: blur(1px);
  }
  .view-box {
    z-index: 1;
    background-color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    box-shadow: 1px 2px 3px #0003;
    max-height: 90vh;
    min-height: 50vh;
    border-radius: 20px 20px 0px 0px;
    animation: slideInFromBottom 0.5s forwards;
    .body-box {
      display: flex;
      flex-direction: column;
      .menu-config {
        display: flex;
        flex-direction: column;
        max-height: 70vh;
        overflow: auto;
        .hint {
          font-size: 13px;
          padding: 0px 5px 5px 5px;
        }
        .items {
          display: flex;
          border-top: 1px solid #d6d6d6;
          position: relative;
          .mask {
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: #0003;
            backdrop-filter: blur(1px);
          }
          .status-mark {
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0px 0px 0px 10px;
            background-color: rgb(206, 80, 48);
            color: #fff;
            padding: 4px 10px;
            min-width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 1 !important;
            z-index: 3;
            box-shadow: -2px -1px 3px #0003;
          }
          &:last-child {
            border-bottom: 1px solid #d6d6d6;
          }
          .logo {
            padding: 6px;
            .img {
              display: block;
              width: 80px;
              height: 80px;
              overflow: hidden;
              border-radius: 16px;
              box-shadow: 1px 2px 3px #0003;
              img {
                width: 100%;
              }
            }
          }
        }
        .config {
          display: flex;
          flex-direction: column;
          gap: 3px;
          padding: 8px 6px;
          width: -webkit-fill-available;
          input {
            padding: 3px 0px;
            border: hidden;
            outline: none;
            border-bottom: 1px solid #d6d6d6;
            width: -webkit-fill-available;
            &.name {
              font-weight: 500;
              font-size: 15px;
            }
            &.price {
              color: orangered;
              font-weight: 500;
              font-size: 14px;
              font-family: Arial, Helvetica, sans-serif;
            }
            &::placeholder {
              color: #cacaca;
            }
          }
          select {
            padding: 4px 2px;
            border-radius: 6px;
            border-color: #999;
            color: #999;
          }
          .c-name {
            display: flex;
            align-items: center;
            gap: 4px;
            .init {
              font-size: 14px;
              color: #999;
            }
          }
          .c-option {
            display: flex;
            gap: 5px;
          }
          .c-group {
            display: flex;
            gap: 4px;
          }
        }
      }
    }
    .title {
      display: flex;
      padding: 8px;
      justify-content: center;
      font-weight: 500;
      font-size: 14px;
    }
    .title2 {
      margin-bottom: 10px;
      text-align: center;
      font-size: 13px;
      padding: 8px;
      font-weight: 500;
      display: flex;
      gap: 5px;
      justify-content: space-between;
      align-items: center;
      box-shadow: 1px 2px 3px #0003;
      .tname {
        font-size: 15px;
      }
      .tools {
        display: flex;
        gap: 4px;
      }
    }
  }
}
button {
  display: flex;
  gap: 5px;
  border: 1px solid #999;
  background-color: #fff;
  height: 34px;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s;
  white-space: nowrap;
  .loading-spinner {
    width: 13px;
    height: 13px;
  }
  &.next {
    .loading-spinner {
      width: 13px;
      height: 13px;
      border-left-color: #fff;
    }
  }
  &.add {
    padding: 3px 8px;
    background-color: #0083fd;
    color: #fff;
    border: 1px solid #0083fd;
  }
  &.down {
    padding: 3px 10px;
    background-color: #0083fd;
    color: #fff;
    border: 1px solid #0083fd;
  }
  &.remove {
    padding: 3px 10px;
    background-color: #fd3b00;
    color: #fff;
    border: 1px solid #fd3b00;
  }
}
.fadeOut {
  animation: fadeOut 0.5s ease forwards !important;
}
.slideOut {
  animation: slideOutFromTop 0.5s ease forwards !important;
}
.slide-top {
  animation: slideInFromBottom 0.5s ease forwards;
}
.slide-forward {
  animation: slideInFromRight 0.5s ease forwards;
}

.slide-backward {
  animation: slideInFromLeft 0.5s ease forwards;
}

@keyframes slideOutFromTop {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}
@keyframes slideInFromBottom {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes successAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
